[Template]
Ver = 3
Name = Inline ASM
Name[zh_CN] = 内联汇编
Name[zh_TW] = 內聯彙編
Name[ru_RU]=Встраиваемый ассемблер
Name[pt_BR] = ASM embutido
Category = Assembly
Category[zh_CN] = 汇编
Category[zh_TW] = 組合語言
Category[ru_RU]=Ассемблер
Category[pt_BR] = Assembly
Description = A simple c program with inline assembly instructions
Description[zh_CN] = 简单的C内联汇编程序示例
Description[zh_TW] = 簡單的C內聯彙編程式範例
Description[ru_RU]=Простая Си-программа с встраиваемыми ассемблерными инструкциями
Description[pt_BR] = Um programa simples em C com instruções de assembly embutidas
Icon = app.ico


[Project]
Type = 1
IsCpp = 0
Encoding = UTF-8
ClassBrowserType = 0
UnitCount = 1


[Unit0]
CName=main.c
C=main.c
C[zh_CN]=main_zh_CN.c
