[Template]
ver=2
Name=Empty Project
Name[zh_CN]=空项目
Name[zh_TW]=空專案
Name[ru_RU]=Пустой проект
Name[pt_BR]=Projeto vazio
Icon=empty.ico
Description=An empty project
Description[zh_CN]=一个空项目
Description[zh_TW]=一個空專案
Description[ru_RU]=Пустой проект
Description[pt_BR]=Um projeto vazio
Category=Basic
Category[zh_CN]=基础
Category[zh_TW]=基礎
Category[ru_RU]=Основные
Category[pt_BR]=Básico

[Project]
UnitCount=0
Type=1
