[Template]
ver=2
Name=snake
Name[zh_CN]=吞食蛇
Name[zh_TW]=貪食蛇
Name[ru_RU]=Змейка
Name[pt_BR]=Snake
Icon=raylib-snake.ico
Description=snake game using raylib ( https://raylib.com )
Description[zh_CN]=经典的吞食蛇游戏(基于raylib) ( https://raylib.com )
Description[zh_TW]=經典的貪食蛇遊戲(基於raylib) ( https://raylib.com )
Description[ru_RU]=Игра Змейка с использованием raylib ( https://raylib.com )
Description[pt_BR]=Jogo da cobrinha usando raylib ( https://raylib.com )
Category=Game
Category[zh_CN]=游戏
Category[zh_TW]=遊戲
Category[ru_RU]=Игры
Category[pt_BR]=Jogos

[Unit0]
CName=main.c
C=raylib_snake_c.txt

[Project]
UnitCount=1
Type=1
IsCpp=0
linker=-lraylib -lopengl32 -lgdi32 -lwinmm
ExecEncoding=UTF-8
