[Template]
ver=2
Name=Jackpot
Name[zh_CN]=Jackpot
Name[zh_TW]=Jackpot
Name[ru_RU]=Джекпот
Name[pt_BR]=Jackpot
Icon=Games.ico
Description=A number guessing game
Description[zh_CN]=一个数字猜测游戏
Description[zh_TW]=一個數字猜測遊戲
Description[ru_RU]=Игра в угадывание числа
Description[pt_BR]=Um jogo de adivinhação de números
Category=Console
Category[zh_CN]=控制台
Category[zh_TW]=主控台
Category[ru_RU]=Консольные
Category[pt_BR]=Console

[Unit0]
CppName=main.cpp
Cpp=Jackpot_cpp.txt

[Project]
UnitCount=1
IsCpp=1
Type=1
Icon=Games.ico
