[Template]
Ver = 3
Name = GAS & C
Name[zh_CN] = GAS与C
Name[zh_TW] = GAS與C
Name[ru_RU] = GAS & C
Name[pt_BR] = GAS & C
Category = Assembly
Category[zh_CN] = 汇编
Category[zh_TW] = 組合語言
Category[ru_RU] = Ассемблер
Category[pt_BR] = Assembly
Description = C and GNU assembly mixing programming demo
Description[zh_CN] = C和GNU汇编混合编程示例
Description[zh_TW] = C和GNU彙編混合程式設計範例
Description[ru_RU] = Пример смешивания Си и Ассемблера GNU в одной программе
Description[pt_BR] = Demonstração de programação mista em C e assembly GNU
Icon = app.ico


[Project]
Type = 1
IsCpp = 0
Encoding = UTF-8
ClassBrowserType = 0
UnitCount = 2


[Unit0]
Source = utils.s
Source[zh_CN] = utils_zh_CN.s
Target = utils.s



[Unit1]
Cpp = main.cpp
Cpp[zh_CN] = main.cpp
CppName = main.cpp
