[Template]
ver=2
Name=GLFW
Name[zh_CN]=GLFW
Name[zh_TW]=GLFW
Description=A simple GLFW program
Description[zh_CN]=一个简单的GLFW程序
Description[zh_TW]=一個簡單的GLFW程式
Description[ru_RU]=Простая GLFW-программа
Description[pt_BR]=Um programa GLFW simples
Name[ru_RU]=GLFW
Name[pt_BR]=GLFW
Icon=GLFW.ico
Category=3D
Category[zh_CN]=3D
Category[zh_TW]=3D
Category[ru_RU]=3D
Category[pt_BR]=3D

[Unit0]
CppName=main.cpp
Cpp=GLFW_main.cpp.txt
Cpp[zh_CN]=GLFW_main_zh_CN.cpp

[Unit1]
CppName=shader.h
Cpp=GLFW_shader.h.txt
Cpp[zh_CN]=GLFW_shader_zh_CN.h

[Unit2]
CppName=shader.fs
Cpp=GLFW_shader.fs.txt


[Unit3]
CppName=shader.vs
Cpp=GLFW_shader.vs.txt
Cpp[zh_CN]=GLFW_shader_zh_CN.vs

[Project]
UnitCount=4
Type=1
IsCpp=1
Compiler=
CppCompiler=
Linker=-lglfw3 -lglew32 -lopengl32 -lwinmm -lgdi32
CompilerSettings=0000000000110000000001000
CompilerSet=1
Encoding = UTF-8
StaticLink=1
AddCharset=1
IncludeVersionInfo=0
SupportXPThemes=0
