[Template]
ver=2
Name=Single Dialog Application
Name[zh_CN]=单对话框程序
Name[zh_TW]=單對話框程式
Name[ru_RU]=Приложение с одним диалоговым окном
Name[pt_BR]=Aplicativo de diálogo único
Icon=Single Dialog Application.ico
Description=An Appliction use a dialog as the main UI
Description[zh_CN]=使用一个对话框作为主用户界面简单程序
Description[zh_TW]=使用一個對話框作為主使用者介面的簡單程式
Description[ru_RU]=Приложение использует диалог в качестве основного пользовательского интерфейса
Description[pt_BR]=Um aplicativo que usa um diálogo como interface principal
Category=Win32
Category[zh_CN]=Windows程序
Category[zh_TW]=Windows程式
Category[ru_RU]=Win32
Category[pt_BR]=Win32

[Unit0]
CName=main.c
C=Single_Dialog_Application_main.c.txt

[Unit1]
CName=resource.rc
C=Single_Dialog_Application_resource.rc.txt

[Unit2]
CName=resource.h
C=Single_Dialog_Application_resource.h.txt

[Project]
UnitCount=3
Type=0
IsCpp=0
Compiler=
CppCompiler=
Linker=
CompilerSettings=0000000000000000000000000
CompilerSet=0
IncludeVersionInfo=0
SupportXPThemes=0
Icon=Single Dialog Application.project.ico
