[Template]
ver=2
Name=Life
Name[zh_CN]=生命游戏
Name[zh_TW]=生命遊戲
Name[ru_RU]=Жизнь
Name[pt_BR]=Jogo da Vida
Icon=raylib-lifegame.ico
Description=Life game using raylib ( https://raylib.com )
Description[zh_CN]=基于raylib的生命游戏( https://raylib.com )
Description[zh_TW]=基於raylib的生命遊戲( https://raylib.com )
Description[ru_RU]=Игра Жизнь с использованием  raylib ( https://raylib.com )
Description[pt_BR]=Jogo da Vida usando raylib ( https://raylib.com )
Category=Game
Category[zh_CN]=游戏
Category[zh_TW]=遊戲
Category[ru_RU]=Игры
Category[pt_BR]=Jogos

[Unit0]
CName=main.cpp
C=raylib_lifegame_cpp.txt

[Project]
UnitCount=1
Type=1
IsCpp=0
linker=-lraylib -lopengl32 -lgdi32 -lwinmm
ExecEncoding=UTF-8
