[Template]
ver=2
Name=MySQL(MyriaDB)
Name[zh_CN]=MySQL(MyriaDB)
Name[zh_TW]=MySQL(MyriaDB)
Name[ru_RU]=MySQL(MyriaDB)
Name[pt_BR]=MySQL(MyriaDB)
Icon=mysql.ico
Description=A MySQL API Example
Description[zh_CN]=MySQL数据库示例程序
Description[zh_TW]=MySQL資料庫範例程式
Description[ru_RU]=Пример работы с MySQL API
Description[pt_BR]=Um exemplo da API MySQL
Category=Database
Category[zh_CN]=数据库
Category[zh_TW]=資料庫
Category[ru_RU]=Базы данных
Category[pt_BR]=Banco de dados

[Unit0]
CName=main.c
C=mysql_c.txt

[Project]
UnitCount=1
Type=1
Compiler=
CppCompiler=
Linker=-lmysqlclient -lws2_32 -ladvapi32 -lkernel32 -lshlwapi -lcrypt32 -lz -lsecur32 -lbcrypt
