[Template]
ver=2
Name=arkanoid
Name[zh_CN]=打砖块
Name[zh_TW]=打磚塊
Name[ru_RU]=Арканоид
Name[pt_BR]=Arkanoid
Icon=raylib_arkanoid.ico
Description=arkanoid game using raylib ( https://raylib.com )
Description[zh_CN]=经典的打砖块游戏(基于raylib) ( https://raylib.com )
Description[zh_TW]=經典的打磚塊遊戲(基於raylib) ( https://raylib.com )
Description[ru_RU]=Игра Арканоид с использованием raylib ( https://raylib.com )
Description[pt_BR]=Jogo de arkanoid usando raylib ( https://raylib.com )
Category=Game
Category[zh_CN]=游戏
Category[zh_TW]=遊戲
Category[ru_RU]=Игры
Category[pt_BR]=Jogos

[Unit0]
CName=main.c
C=raylib_arkanoid_c.txt

[Project]
UnitCount=1
Type=1
IsCpp=0
linker=-lraylib -lopengl32 -lgdi32 -lwinmm
ExecEncoding=UTF-8
