[Template]
Ver = 3
Name = GAS & C
Name[zh_CN] = NASM与C
Name[zh_TW] = NASM與C
Name[ru_RU] = NASM & C
Name[pt_BR] = NASM & C
Category = Assembly
Category[zh_CN] = 汇编
Category[zh_TW] = 組合語言
Category[ru_RU] = Ассемблер
Category[pt_BR] = Assembly
Description = C and NASM mixing programming demo
Description[zh_CN] = C和NASM混合编程示例
Description[zh_TW] = C和NASM混合程式設計範例
Description[ru_RU] = Демонстрация смешивания Си и NASM в одной программе
Description[pt_BR] = Demonstração de programação mista em C e NASM
Icon = app.ico


[Project]
Type = 1
IsCpp = 0
Encoding = UTF-8
ClassBrowserType = 0
UnitCount = 2


[Unit0]
Source = utils.asm
Source[zh_CN] = utils_zh_CN.asm
Target = utils.asm



[Unit1]
Cpp = main.cpp
Cpp[zh_CN] = main.cpp
CppName = main.cpp
